---
http_interactions:
- request:
    method: post
    uri: https://jusibe.com/smsapi/delivery_status?message_id=z8k5y8x1e7
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic NjBmNTQxYzAxYmZmMmZmNTViZjhjZTc2NDMwMDk2ODM6NDVjM2M1ODc3ZDg4YzJhYWQ1MjYzYmFlOTI0ZGRhZGE=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message_id":"z8k5y8x1e7","status":"Delivered","date_sent":"2016-04-16
        00:02:13","date_delivered":"2016-04-16 00:02:18","request_speed":0.0053889751434326}'
  recorded_at: Sun, 17 Apr 2016 02:38:05 GMT
recorded_with: VCR 3.0.1
