---
http_interactions:
- request:
    method: post
    uri: https://jusibe.com/smsapi/send_sms
    body:
      encoding: UTF-8
      string: from=Testing&message=Muahahahaha.+What%27s+bubbling+niggas%3F&to=08063125510
    headers:
      Authorization:
      - Basic NjBmNTQxYzAxYmZmMmZmNTViZjhjZTc2NDMwMDk2ODM6NDVjM2M1ODc3ZDg4YzJhYWQ1MjYzYmFlOTI0ZGRhZGE=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Sent","message_id":"p6m5jpw5kb","sms_credits_used":1,"request_speed":0.13725709915161}'
  recorded_at: Sun, 17 Apr 2016 02:29:21 GMT
recorded_with: VCR 3.0.1
